<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>oAuth BP</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/auth/logout">Logout</a>
        <a href="/auth/Login">Login</a>
        <a href="/">Home</a>
      </ul>
    </nav>
    <header>
      <h1>Welcome To Your Profile <%= user.username %></h1>

    </header>
    <main>
      <p>Extra Information About You</p>
    </main>
  </body>
</html>
